<span class="hljs-keyword">import</span> { tap, delay } <span class="hljs-keyword">from</span> <span class="hljs-string">&#x27;rxjs/operators&#x27;</span>;
<span class="hljs-keyword">import</span> { fromEvent } <span class="hljs-keyword">from</span> <span class="hljs-string">&#x27;rxjs/index&#x27;</span>;

<span class="hljs-keyword">const</span> btn = <span class="hljs-built_in">document</span>.getElementById(<span class="hljs-string">&#x27;sbj1&#x27;</span>)
<span class="hljs-keyword">const</span> badge1 = <span class="hljs-built_in">document</span>.getElementById(<span class="hljs-string">&#x27;ob1&#x27;</span>)
<span class="hljs-keyword">const</span> badge2 = <span class="hljs-built_in">document</span>.getElementById(<span class="hljs-string">&#x27;ob2&#x27;</span>)
<span class="hljs-keyword">const</span> loader = <span class="hljs-built_in">document</span>.getElementById(<span class="hljs-string">&#x27;radio&#x27;</span>)

<span class="hljs-comment">// ボタンのクリックイベントからsubjectを作成</span>
<span class="hljs-keyword">const</span> subject = fromEvent(btn, <span class="hljs-string">&#x27;click&#x27;</span>)

<span class="hljs-comment">// Observerの生成</span>
<span class="hljs-keyword">const</span> observer1 = {
  <span class="hljs-attr">next</span>: <span class="hljs-function">() =&gt;</span> {
  badge1.classList.toggle(<span class="hljs-string">&#x27;bg-secondary&#x27;</span>)
  badge1.classList.toggle(<span class="hljs-string">&#x27;bg-danger&#x27;</span>)
  }
}

<span class="hljs-comment">// Observerの生成</span>
<span class="hljs-keyword">const</span> observer2 = {
  <span class="hljs-attr">next</span>: <span class="hljs-function">() =&gt;</span> {
    badge2.classList.toggle(<span class="hljs-string">&#x27;bg-secondary&#x27;</span>)
    badge2.classList.toggle(<span class="hljs-string">&#x27;bg-warning&#x27;</span>)
    }
}

<span class="hljs-comment">// Observerの登録</span>
subject.subscribe(observer1);
subject.subscribe(observer2);

<span class="hljs-comment">// アニメーション</span>
subject.pipe(
  tap(<span class="hljs-function">() =&gt;</span> loader.classList.toggle(<span class="hljs-string">&#x27;loader&#x27;</span>)),
  delay(<span class="hljs-number">800</span>)
)
.subscribe(<span class="hljs-function">() =&gt;</span> {
  loader.classList.toggle(<span class="hljs-string">&#x27;loader&#x27;</span>)
})