.loader,
.loader:before,
.loader:after {
  background: rgba(255, 255, 255, 0.6);
  -webkit-animation: load1 1s infinite ease-in-out;
  animation: load1 1s infinite ease-in-out;
  width: 0.2em;
  height: 4em; }

.loader {
  color: rgba(255, 255, 255, 0.6);
  text-indent: -9999em;
  margin: 0 auto;
  position: relative;
  font-size: 11px;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-animation-delay: -0.16s;
  animation-delay: -0.16s; }

.loader:before,
.loader:after {
  position: absolute;
  top: 0;
  content: ''; }

.loader:before {
  left: -2em;
  -webkit-animation-delay: -0.32s;
  animation-delay: -0.32s; }

.loader:after {
  left: 2em; }

@-webkit-keyframes load1 {
  0%,
  10%,
  80%,
  100% {
    box-shadow: 0 0;
    height: 3em; }
  40% {
    box-shadow: 0 -2em;
    height: 4em; } }

@keyframes load1 {
  0%,
  10%,
  80%,
  100% {
    box-shadow: 0 0;
    height: 3em; }
  40% {
    box-shadow: 0 -2em;
    height: 4em; } }
